# Unity specific
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userprefs
/*.pidb.meta
/*.booproj.meta
/*.svd.meta
/*.pdb.meta
/*.mdb.meta
/*.imported.meta
/*.psess
/*.vsp
/*.pidb
/*.ilk
/*.meta
/ScreenSelector.sav
/ScreenSelector.sav.meta
/PhysicsDebugSettings.asset
/PhysicsDebugSettings.asset.meta
/MonoDevelopSettings.asset
/MonoDevelopSettings.asset.meta
/ProjectSettings/EditorBuildSettings.asset
/ProjectSettings/EditorBuildSettings.asset.meta
/ProjectSettings/EditorSettings.asset
/ProjectSettings/EditorSettings.asset.meta
/ProjectSettings/GraphicsSettings.asset
/ProjectSettings/GraphicsSettings.asset.meta
/ProjectSettings/ProjectSettings.asset
/ProjectSettings/ProjectSettings.asset.meta
/ProjectSettings/TagManager.asset
/ProjectSettings/TagManager.asset.meta
/ProjectSettings/TimeManager.asset
/ProjectSettings/TimeManager.asset.meta
/ProjectSettings/QualitySettings.asset
/ProjectSettings/QualitySettings.asset.meta
/ProjectSettings/Physics2DSettings.asset
/ProjectSettings/Physics2DSettings.asset.meta
/ProjectSettings/PhysicsManager.asset
/ProjectSettings/PhysicsManager.asset.meta
/ProjectSettings/InputManager.asset
/ProjectSettings/InputManager.asset.meta
/ProjectSettings/AudioManager.asset
/ProjectSettings/AudioManager.asset.meta
/ProjectSettings/NetworkManager.asset
/ProjectSettings/NetworkManager.asset.meta
/ProjectSettings/DynamicsManager.asset
/ProjectSettings/DynamicsManager.asset.meta
/ProjectSettings/NavMeshAreas.asset
/ProjectSettings/NavMeshAreas.asset.meta
/ProjectSettings/NavMeshLayers.asset
/ProjectSettings/NavMeshLayers.asset.meta
/ProjectSettings/NavMeshQueries.asset
/ProjectSettings/NavMeshQueries.asset.meta
/ProjectSettings/EditorUserBuildSettings.asset
/ProjectSettings/EditorUserBuildSettings.asset.meta

# Visual Studio / Visual Studio Code specific
*.userprefs
*.sln.ide

# Rider specific
.idea/
*.csproj.DotSettings.user
